# Web framework
fastapi
uvicorn[standard]

# Database
google-cloud-firestore
firebase-admin

# For password hashing
passlib[bcrypt] # bcrypt hashing algoritması için

# For Google Cloud Storage
google-cloud-storage

# Image processing
rembg
onnxruntime
Pillow
numpy
scikit-image
scipy
python-multipart
email-validator
loguru
python-jose
requests  # For downloading images from URLs